[build]
  publish = "dist"
  command = "npm run build"

[[redirects]]
  from = "/sitemap.xml"
  to = "https://fmoeomwfxkoipmxjpdeg.supabase.co/functions/v1/sitemap-xml"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[[headers]]
  for = "/*"
  [headers.values]
    X-Content-Type-Options = "nosniff"
    X-Frame-Options = "DENY"
    X-XSS-Protection = "1; mode=block"
